<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <br />

    <div class="container">
      <section id="content">
        <form onSubmit="/register" method="post">
          <h1>Register Now</h1>
          {% if error %}
          <p style="color: red">{{ error }}</p>
          {% endif %}
          {% if message %}
          <p style="color: green">{{ message }}</p>
          {% endif %}
          <div>
            <input
              type="text"
              placeholder="Customer name"
              required=""
              name="cname"
              id="cname"
            />
          </div>

          <div>
            <input
              type="text"
              placeholder="Aadhaar No"
              required=""
              name="aadhaar"
              id="aadhaar"
            />
          </div>

          <div>
            <input
              type="text"
              placeholder="Mobile No"
              required=""
              name="mobile"
              id="aadhaar"
            />
          </div>

          <div>
            <input
              type="text"
              placeholder="Address"
              required=""
              name="address"
              id="homeaddress"
            />
          </div>

          <div>
            <select class="form-select" id="accountType" name="accountType">
              <option selected>Select Account Type</option>
              <option value="Savings Account">Savings Account</option>
              <option value="Current Account">Current Account</option>
              <option value="DEMAT Account">DEMAT Account</option>
            </select>
          </div>

          <div>
            <input
              type="text"
              placeholder="Enter Customer ID"
              required=""
              name="customerId"
              id="username"
            />
          </div>
          <div>
            <input
              type="password"
              placeholder="Password"
              required=""
              name="password"
              id="password"
            />
          </div>
          <div>
            <input type="submit" value="Register" class="btn-register" />
            <a href="/login">Log In</a>
          </div>
        </form>
        <span style="color: red" id="regresult"></span>
      </section>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
